/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
    font: normal 12px/14px Arial, "Helvetica Neue", Helvetica, sans-serif;
    }
html,
button,
input,
select,
textarea {
    color: #333;
}

a {
    color: #005199;
    text-decoration: none;
    outline: none;
    }

a:visited {
    /*color: #fff;*/
    }

a:hover {
    color: #005199;
    text-decoration: none;
    }


img {
    vertical-align: middle;
    }

textarea {
    resize: vertical;
}

table {
    text-align: left;
    }

/* Lists */
ul {
    margin: 0;
    padding: 0;
    }
    ul li {
        list-style: none;
        margin: 0;
        padding: 0 0 0 8px;
        font-size: 11px;
        color: #666666;
        position: relative;
        }
        ul li:before {
            content: "• ";
            color: #005199;
            position: absolute;
            left: 0;
            }

/* Headings */
h1 {
    margin: 0 0 10px 0;
    padding: 2px 15px 2px 0;
    font-size: 19px;
    font-weight: bold;
    color: #113184;
    }
    h1 a {
        color: #113184;
        text-decoration: none;
        }
        h1 a:hover {
            color: #113184;
            }

    h1.axa-h {
        background: transparent url(../img/axa-h-red-streak.png) 100% 50% no-repeat;
        background-size: 14px 17px;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        }

    h2 {
        font-weight: normal;
        font-size: 14px;
        color: #113184;
        margin: 0;
        padding: 8px 0 3px 0;
        line-height: 16px;
        }

    h3 {
        color:#005199;
        font-size: 12px;
        font-weight: normal;
        outline: none;
        }

        h2.type26, h3.type26 {
            font-size: 13px;
            font-weight: normal;
            padding:0 0 5px 0;
            margin: 0;
        }
      
        h3.type26 {
            padding: 0 0 0 5px;
            }
    p {
        color: #666666;
        margin: 0;
        padding: 4px 0;
        }

/***
    Main styles 
***/
html, body {
    background-color: #f8f8fb;
    height: 100%;
    }
    body {
        min-width: 305px;
        background-color: #f8f8fb;
        }
        .centered-content {
            max-width: 640px;
            min-width: 240px;
            margin: 0 auto;
            padding:0 10px;
            }
            .content-full-width {
                margin: 0 -15px;
                }

    #main-wrap {
        height: 100%;
        width: 100%;
        position: relative;
        -webkit-transition: -webkit-transform .2s linear;
        -moz-transition: -moz-transform .2s linear;
        -o-transition: -o-transform .2s linear;
        transition: transform .2s linear;
        z-index: 1000;
        background-color: #F8F8FB;
        }
        #layout {
            min-height: 100%;
            height: auto;
            overflow: hidden;
            }
     
.block-item-small p.type11 {
    font-size: 11px;
    }
.block-item-small span {
    color: #999999;
    font-size: 9px;
    }

/*
    Header
*/
    #header{
        background-color: #fefefe;
        -moz-box-shadow: 0 2px 3px #afb9d5;
        -webkit-box-shadow: 0 2px 3px #afb9d5;
        box-shadow: 0 2px 3px #afb9d5;
        position: relative;
        z-index: 4;
        }
        #header-content {
            padding: 11px 59px 5px 0;
            position: relative;
            }
        #logo {
            width:118px;
            height: 37px;
            background: url(../img/logo.png) no-repeat 0 0;
            background-size: 118px 37px;
            float: left;
            margin-right: 20px;
            }
        #header h1 {
            float: left;
            font-size: 18px;
            font-weight: normal;
            margin: 0 -10px -4px 0;
            }


/*
    Main navigation
*/

/* Main nav trigger */
    .mob-menu-but-right {
        position: absolute;
        top:0;
        right: 0;
        width: 69px;
        height: 53px;
        text-decoration: none;
        outline: 0 !important;
        background: transparent url(../img/main-nav-bg-but.png) 0 0 no-repeat;
        background-size: 69px 53px;
        }
        .mob-menu-but-right:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 200;
            width: 17px;
            height: 15px;
            margin: 1px 0 0 4px;
            background: url(../img/main-nav-trigger.png) no-repeat 0 0;
            background-size: 17px 15px;
            }
        .mobile-menu-open-right .mob-menu-but-right:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 100;
            width: 30px;
            height: 27px;
            margin: -6px 0 0 -3px;
            moz-border-radius: 4px;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            moz-box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.3);
            -webkit-box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.3);
            box-shadow: 0 1px 1px #fff, inset 0 1px 2px rgba(0,0,0,.3);
            background: #b2dcff;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyZGNmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkN2U3ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  #b2dcff 0%, #d7e7f4 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b2dcff), color-stop(100%,#d7e7f4));
            background: -webkit-linear-gradient(top,  #b2dcff 0%,#d7e7f4 100%);
            background: -o-linear-gradient(top,  #b2dcff 0%,#d7e7f4 100%);
            background: -ms-linear-gradient(top,  #b2dcff 0%,#d7e7f4 100%);
            background: linear-gradient(to bottom,  #b2dcff 0%,#d7e7f4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2dcff', endColorstr='#d7e7f4',GradientType=0 );
            }

/* Main nav */
    #main-nav {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        margin: 1px 0 0;
        }
         #main-nav .nav-list {
            margin: 0 -15px;
            width: auto;
             }


/* Nav-list */
    .nav-list {
        width: 100%;
        overflow: hidden;
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
        }
     /*  .nav-list li {
            margin: 0 0 12px 0;
            padding: 0;
            }
            .nav-list li:before {
            content: none;
                }
            .nav-list a {
                display: block;
                position: relative;
                text-decoration: none;
                outline: 0 !important;
                color: #666;
                font-size: 16px;
                line-height: 1.2;
                text-shadow: 0 1px 1px rgba(255,255,255,.75);
                padding: 8px 20px 8px 10px;
                background: #ffffff;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2VlZjBmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWYwZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 25%, #eef0f6 77%, #eef0f6 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(77%,#eef0f6), color-stop(100%,#eef0f6));
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f6',GradientType=0 );
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                -moz-box-shadow: 0 1px 1px rgba(16,49,132,.2);
                -webkit-box-shadow: 0 1px 1px rgba(16,49,132,.2);
                box-shadow: 0 1px 1px rgba(16,49,132,.2);
                border: 1px solid rgba(16,49,132,.2);
                }
                .nav-list a:after {
                    position: absolute;
                    right: 14px;
                    top: 0;
                    content: "";
                    background: url(../img/arrow-right.png) no-repeat 0 50%;
                    height: 100%;
                    width: 9px;
                    background-size: 8px 14px;
                    }
                .nav-list a:hover {
                    color: #666;
                    }
                .nav-list a:active {
                    background: #eef0f6;
                    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZjBmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIzJSIgc3RvcC1jb2xvcj0iI2VlZjBmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                    background: -moz-linear-gradient(top,  #eef0f6 0%, #eef0f6 23%, #ffffff 75%, #ffffff 100%);
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eef0f6), color-stop(23%,#eef0f6), color-stop(75%,#ffffff), color-stop(100%,#ffffff));
                    background: -webkit-linear-gradient(top,  #eef0f6 0%,#eef0f6 23%,#ffffff 75%,#ffffff 100%);
                    background: -o-linear-gradient(top,  #eef0f6 0%,#eef0f6 23%,#ffffff 75%,#ffffff 100%);
                    background: -ms-linear-gradient(top,  #eef0f6 0%,#eef0f6 23%,#ffffff 75%,#ffffff 100%);
                    background: linear-gradient(to bottom,  #eef0f6 0%,#eef0f6 23%,#ffffff 75%,#ffffff 100%);
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eef0f6', endColorstr='#ffffff',GradientType=0 );
                    }
            .nav-list span {
                display: block;
                color: #999;
                font-size: 18px;
                line-height: 1.2;
                padding:10px 15px;0
                }*/
            .gradient-block {
                margin: 0 0 12px 0;
                padding: 0;
                position: relative;
                text-decoration: none;
                outline: 0 !important;
                color: #666;
                font-size: 16px;
                line-height: 1.2;
                text-shadow: 0 1px 1px rgba(255,255,255,.75);
                padding: 8px 20px;
                background: #ffffff;
                background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2VlZjBmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWYwZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
                background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 25%, #eef0f6 77%, #eef0f6 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(77%,#eef0f6), color-stop(100%,#eef0f6));
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f6',GradientType=0 );
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                border-radius: 3px;
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                -moz-box-shadow: 0 1px 1px rgba(16,49,132,.2);
                -webkit-box-shadow: 0 1px 1px rgba(16,49,132,.2);
                box-shadow: 0 1px 1px rgba(16,49,132,.2);
                border: 1px solid rgba(16,49,132,.2); 
            }
            .gradient-block a {
                display: block;
            }
            .arrow-right:after  {
                    position: absolute;
                    right: 14px;
                    top: 0;
                    content: "";
                    background: url(../img/arrow-right.png) no-repeat 0 50%;
                    height: 100%;
                    width: 9px;
                    background-size: 8px 14px;
            }

/***
    Content
***/
    #content {
        padding: 15px 0 71px;
        position: relative;
        }     


/***
    News Single Page
***/

.block-header {
    border-bottom: 1px solid #c8ccdc;
    }
.prev {
   background: transparent url(../img/arrow-left.png) 0 4px no-repeat;
    background-size: 8px 14px; 
    padding: 0 0 0 15px;
    }

.news-item .date {
    font-family: Arial;
    font-size: 10px;
    color: #666666;
    padding: 0 0 6px 0;
    display: block;
    }

.read-on-main a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../img/read-more-ico.png");
    background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 11px 9px;
    color: #005199;
    padding: 0 15px 0 0;
    font-size: 11px;
    }


/*** 
    Insurance 
***/

   /* .insurance .item-block {
        display: block;
        position: relative;
        text-decoration: none;
        outline: 0 !important;
        color: #666;
        font-size: 14px;
        line-height: 1.2;
        padding:10px 15px;
        background: #ffffff;
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc3JSIgc3RvcC1jb2xvcj0iI2VlZjBmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWYwZjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  #ffffff 0%, #ffffff 25%, #eef0f6 77%, #eef0f6 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(25%,#ffffff), color-stop(77%,#eef0f6), color-stop(100%,#eef0f6));
        background: -webkit-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
        background: -o-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
        background: -ms-linear-gradient(top,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
        background: linear-gradient(to bottom,  #ffffff 0%,#ffffff 25%,#eef0f6 77%,#eef0f6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f6',GradientType=0 );
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -moz-box-shadow: 0 1px 1px rgba(16,49,132,.4);
        -webkit-box-shadow: 0 1px 1px rgba(16,49,132,.4);
        box-shadow: 0 1px 1px rgba(16,49,132,.4);
        border: 1px solid rgba(16,49,132,.2); 
        margin: 0 0 15px 0;
        }*/

.item-block {
    font-size: 14px;
}
.insurance ul {
    margin: 0;
    padding: 0;
    }
    .insurance ul li {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 13px;
        border-bottom: 1px solid #c8ccdc;
        }
        .insurance ul li:before{
            display: none;
            }
        .insurance ul li a {
            display: block;
            padding: 7px 0;
            }
        .insurance ul li:last-child {
            border-bottom: none;
            }


/*** 
    News 
***/

.block-item {  
    border-bottom: 1px solid #c8ccdc;
    padding: 0 20px 6px 0;
    display: block;
    }
    .block-item:last-child {
        border: none;
        }
.next-page {
   background: transparent url(../img/arrow-right.png) right center no-repeat;
   background-size: 8px 14px;
   cursor: pointer;
    }
.news-item h2 a {
    color:#005199;
    text-decoration: none;
    }
.news-item p {
    font-size: 12px;
    }

/* Block item small  */
.block-item-small {
    padding: 0 0 10px 5px;
    }  
    .block-item-small p {
        font-size: 12px;
        margin: 0;
        padding: 2px 0;
        }
    .block-item-small .but-cont-hor {
        height: 30px;
        margin: 5px 0;
        }
        .block-item-small .but-cont-hor a {
            padding: 6px 10px;
            font-size: 12px;
            margin: 0 5px 0 0;
            }
/*
Offices 

*/
 /* #offices-page h3 {
            margin:0 -30px 7px 0;
        }*/
#offices-page {
    position: relative;
}
/*#offices-page .block-item {
    border-bottom: 1px dashed #c8ccdc;
    position: relative;
    height: 100%;
    padding: 7px 30px 7px 0;
}
#offices-page .block-item:last-child {
    border-bottom: none;
}*/
.article-item {
    position: relative;
    height: 100%;
    padding: 7px 0px 7px 0;
    }
    .article-item h3 {
      margin: 3px -30px 7px 0;  
        }

    .bd_01 {
        border-bottom: 1px dashed #c8ccdc;
    }
    .bd_02 {
        border-bottom: 1px solid #c8ccdc;
    }
.show-map {
    position: absolute;
    top:50%;
    right: 0;
    background: transparent url(../img/ico-show-map.png) right center no-repeat; 
    height: 28px;
    width: 28px;
    float: right;
    background-size: 28px 28px;
    margin-top: -14px;
    }
.sel-location {
    padding: 15px 0;
    border-bottom: 1px solid #c8ccdc;
}
.sel-location select {
    border: 1px solid #c8ccdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    outline: none;
    font-size: 15px;
    color: #333333;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.sel-block {
    position: relative;   
}
.select-arrow {
    position: absolute;
    background: #fff url(../img/select-arrow.png) center center no-repeat;
    width: 20px;
    height: 21px;
    right: 9px;
    top: 11px;
    background-size: 9px 14px;
    border: 0;
    outline: 0;
}
.map-page {
    background: transparent url(../img/ico-map-page.png) 0 0 no-repeat; 
    background-size: 31px 28px;
    display: block;
    height: 28px;
    width: 31px;
    position: absolute;
    right: 0;
    top: -6px;
}
/* End of Offices
*/

/*
    Map page
*/
#map-page {
    margin: -15px -10px -71px;
    position: relative;
    }
    #map-wrap {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        }
        .map-back-button {
            position: absolute;
            z-index: 2;
            top: 10px;
            left: 40px;
            text-decoration: none;
            padding: 7px 9px 7px 23px;
            border: #c8ccdc solid 1px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
            background: #ffffff;
            background: -moz-linear-gradient(top,  #ffffff 0%, #eef0f6 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #eef0f6));
            background: -webkit-linear-gradient(top,  #ffffff 0%,#eef0f6 100%);
            background: -o-linear-gradient(top,  #ffffff 0%, #eef0f6 100%);
            background: -ms-linear-gradient(top,  #ffffff 0%, #eef0f6 100%);
            background: linear-gradient(to bottom,  #ffffff 0%, #eef0f6 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f6',GradientType=0 );
            color: #113184;
            font-style: 13px;
            line-height: 1;
            outline: 0 !important;
            text-shadow: 0 1px 0 #fff;
            }
            .map-back-button:before {
                content: '';
                position: absolute;
                top: 50%;
                left: 5px;
                margin: -6px 0;
                width: 8px;
                height: 13px;
                background: url(../img/arrow-left.png);
                background-size: 8px 14px;
                }
            

/* 
    Paginator 
*/
.paginator {
    padding: 10px 0;
    overflow: hidden;
    }
    .paginator ul {
        margin: 0;
        padding: 0;
        list-style: none;
        }
        .paginator ul li {
            float: left;
            list-style: none;
            margin: 0;
            padding: 0;
            }
            .paginator ul li:before {
                display: none;
                }
        .paginator a {
           color: #005199; 
           text-decoration: none;
           font-size: 13px;
           padding: 6px 10px;
           display: block;
           overflow: hidden;
            }

    /* Type: paginator li act */
    .paginator li.act a {
        background-color: #0066aa;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #ffffff;
        }

    /* Type: paginator li next */
    .paginator li.next a {
        background: transparent url(../img/ico-next.png) 0 0 no-repeat;
        background-size: 25px 25px; 
        width: 25px;
        height:25px;
        padding: 0;
        }

/*** 
    Search Result Page 
***/
.search-result-page h2 a{
    display: block;
    }

.search-form{
   padding: 10px 42px 5px 0;
   overflow: hidden;
    position: relative;
    }
    .search-form img {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 6px;
        top: 18px;
        cursor: pointer;
        }

    .search-form .search-input {
        margin-right: -100px;
        padding: 7px 7px 8px;
        width: 100%; 
        height: 30px;
        outline: none;
        padding: 0 4px;
        margin: 0;
        float: left;
        border: 1px solid #cbcbce;
        -webkit-border-radius:0px; 
        -moz-border-radius:0px; 
        -khtml-border-radius:0px;
        border-radius:0px;
        -webkit-border-top-left-radius: 4px;
        -webkit-border-bottom-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-bottomleft: 4px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 14px;
        font-family: arial;
        font-style: italic;
        color: #999999;
        -moz-box-shadow: 0px 1px 2px -1px #999999 inset;
        -webkit-box-shadow: 0px 1px 2px -1px #999999 inset;
        box-shadow: 0px 1px 2px -1px #999999 inset;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        }
    .search-form .search-submit {
        float: left;
        margin-right: -100px;
        width: 56px;
        height: 30px;
        width: 31px;
        padding: 0;
        -webkit-border-radius:0px; 
        -moz-border-radius:0px; 
        -khtml-border-radius:0px;
        border-radius:0px;
        border-right: 1px solid #cbcbce;
        border-top: 1px solid #cbcbce;
        border-bottom: 1px solid #cbcbce;
        -webkit-border-top-right-radius: 4px;
        -webkit-border-bottom-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        -moz-border-radius-bottomright: 4px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        border-left: none;
        cursor: pointer;
        background: rgb(246,247,251); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjdmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYmRjZWMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgb(246,247,251) 0%, rgb(203,220,236) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(246,247,251)), color-stop(100%,rgb(203,220,236))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgb(246,247,251) 0%,rgb(203,220,236) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgb(246,247,251) 0%,rgb(203,220,236) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgb(246,247,251) 0%,rgb(203,220,236) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgb(246,247,251) 0%,rgb(203,220,236) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f7fb', endColorstr='#cbdcec',GradientType=0 ); /* IE6-8 */
        display: block;
        overflow: hidden;
        z-index: 999;
        }
        .search-form .search-submit:active {
            background: rgb(203,220,236); /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NiZGNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNmY3ZmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(top,  rgb(203,220,236) 0%, rgb(246,247,251) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(203,220,236)), color-stop(100%,rgb(246,247,251))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgb(203,220,236) 0%,rgb(246,247,251) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgb(203,220,236) 0%,rgb(246,247,251) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgb(203,220,236) 0%,rgb(246,247,251) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgb(203,220,236) 0%,rgb(246,247,251) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbdcec', endColorstr='#f6f7fb',GradientType=0 ); /* IE6-8 */
            }
        .search-form .search-submit input {
            background: transparent url(../img/ico-search.png) center center no-repeat;
            background-size: 18px 18px;
            border: none;
            height: 30px;
            width: 31px;
            }
    .search-form .bttn-img {
        background: transparent url(../img/ico-search.png) center center no-repeat; 
        background-size: 18px 18px;  
        }
.search-count {
    padding: 2px 0;
    }
    .search-count p {
        font-family: Arial;
        font-size: 12px;
        color:#005199;
        }

/* Type: Search form in sidebar */
.mobile-menu-right .search-form-wrap {
    background-color: #276bab;
    -webkit-box-shadow: inset 2px 1px 3px rgba(0, 0, 0, .36);
    -moz-box-shadow: inset 2px 1px 3px rgba(0, 0, 0, .36);
    box-shadow: inset 2px 1px 3px rgba(0, 0, 0, .36);
    }
    .mobile-menu-right .search-form {
        margin: 0 1em;
        }
        .mobile-menu-right .search-form .search-input {
            background-color: #004d95;
            color: #fff;
            -moz-box-shadow:
                0 1px 1px rgba(255,255,255,.4),
                inset 0 1px 1px #003668;
            -webkit-box-shadow:
                0 1px 1px rgba(255,255,255,.4),
                inset 0 1px 1px #003668;
            box-shadow:
                0 1px 1px rgba(255,255,255,.4),
                inset 0 1px 1px #003668;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            height: 28px;
            }
            .mobile-menu-right .search-form .search-input::-webkit-input-placeholder,
            .mobile-menu-right .search-form .search-input::-moz-placeholder {
                color: #4f7eb1;
                text-shadow: 0 1px 1px rgba(0,0,0,.4);   
                }
            .mobile-menu-right .search-form .search-submit {
                -moz-box-shadow:
                    0 1px 1px rgba(0,0,0,.1);
                -webkit-box-shadow:
                    0 1px 1px rgba(0,0,0,.1);
                box-shadow:
                    0 1px 1px rgba(0,0,0,.1);
                -moz-background-clip: padding;
                -webkit-background-clip: padding-box;
                background-clip: padding-box;
                }
            .mobile-menu-right .search-form .search-input,
            .mobile-menu-right .search-form .search-submit {
                border-color: #1e6ab0;
                }


/*
    Checkbox styling
*/
    .checkbox-location {
        text-align: center;
        padding: 20px 0 11px 0;
        white-space: nowrap;
        }
        .checkbox-cont {
            display: inline-block;
            *display: inline;
            *zoom: 1;
            margin-right: 16px;
            }
        .checkbox-cont:last-child {
            margin-right: -10px;
            }
            .checkbox-wrapper {
                display: inline-block;
                *display: inline;
                *zoom: 1;
                width: 27px;
                height: 17px;
                position: relative;
                }
                .checkbox-wrapper input[type='checkbox'] {
                    -moz-opacity: 0;
                    filter: alpha(opacity=0);
                    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
                    opacity: 0;
                    width: 27px;
                    height: 27px;
                    display: inline-block;
                    *display: inline;
                    *zoom: 1;
                    position: absolute;
                    z-index: 200;
                    left: 0;
                    top: 0;
                    }
                .checkbox-wrapper .checkbox-block {
                    width: 27px;
                    height: 27px;
                    background: transparent url(../img/checkbox-but.png) 0 0 no-repeat;
                    background-size: 69px 26px;
                    position: absolute;
                    z-index: 100;
                    left: 0;
                    top: 0;
                    }
                    .checkbox-wrapper .checkbox-block.checked {
                        background: transparent url(../img/checkbox-but.png) -44px 0 no-repeat;
                        background-size: 69px 26px;
                        }
                .checkbox-wrapper label {
                    }
/* end checkbox styling */

/*** 
    Footer 
***/
    #footer {
        position: relative;
        z-index: 2;
        margin-top: -61px;
        overflow: hidden;
        border-top: #9abbd8 solid 1px;
        padding: 14px 0 3px 0;
        height: 42px;
        line-height: 1.2;
        color: #666;
        background-color: #f8f8fb;
        }
        #footer .copy {
            float: left;
            padding: 9px 15px 0 0;
            font-size: 7px; 
        }
        #footer .footer-link-tariff {
            float: left;
            color: #005199;
            font-size: 9px;
            line-height: 10px;
            margin: 8px -16px 0 0;
            padding: 0 6px 0 0;
            text-decoration: none;
            }
            #footer .footer-content {
                padding: 0 103px 0 0;
                position: relative;
                }
                #footer .but-cont-hor {
                    height: 22px;
                    position: relative;
                    }
                    #footer .but-cont-hor .buttons-group {
                        position: absolute;
                        right: -15px;
                        top: 0;
                        }
                        #footer .but-cont-hor .buttons-group a {
                            text-transform: uppercase;
                            }
            #footer .footer-logo {
                position: absolute;
                right: -44px;
                top: 0;
                width: 125px;
                height: 46px;
                background: transparent url(../img/footer-bg-but.png) 0 0 no-repeat;
                background-size: 125px 46px;
                }
                .footer-logo-link {
                    background: transparent url(../img/axa-logo-footer.png) 0 0 no-repeat;
                    background-size: 37px 37px;
                    width: 37px;
                    height: 37px;
                    position: absolute;
                    top: -1px;
                    left: 41px;
                    }

/***
    Common blocks
***/
/* 
    Buttons 
*/
        
.but {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    text-decoration: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    color: #fff;
    font-size: 11px;
    padding: 2px 4px;
    line-height: 15px;
    }
    .but:hover {
        color: #fff;
        }

/* Type: button with icon */
.but-with-icon {
    padding-left: 18px;
 }

/* Type: Buttons horisontal container */
.but-cont-hor {
    }
    .but-cont-hor .button {
        margin-right: 2px;
        }

/***
    Buttons
***/

.button {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-decoration: none;
    outline: 0 !important;
    padding: 7px 10px;
    border: #c8ccdc solid 1px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; 
    background: #EEF0F6;
    -webkit-box-shadow: 0 7px 3px 0px rgba(255, 255, 255, .8) inset;
            box-shadow: 0 7px 3px 0px rgba(255, 255, 255, .8) inset;

    color: #005199;
    font-size: 12px;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    }
    .button:active {
        -webkit-box-shadow: 0 -7px 3px 0px rgba(255, 255, 255, .8) inset;
            box-shadow: 0 -7px 3px 0px rgba(255, 255, 255, .8) inset;
        }

    /* State: pushed */
    .button.pushed,
    .button.pushed:active {
        background: #EDF1F7;
        box-shadow: 0 1px 1px #C9CFE3 inset;
        color: #999999;
        cursor: default;
        filter: none;
        }


/* Type: Button red */
.button.red {
    color: #fff;
    text-shadow:none;
    border: 1px solid #EB0A14;
    background: #EB0A14;
    -webkit-box-shadow: 0 7px 5px 0px rgba(255, 255, 255, .4) inset;
            box-shadow: 0 7px 5px 0px rgba(255, 255, 255, .4) inset;
    }
    .button.red:active {
        -webkit-box-shadow: 0 -7px 5px 0px rgba(255, 255, 255, .4) inset;
            box-shadow: 0 -7px 5px 0px rgba(255, 255, 255, .4) inset;
        }
    /* State: red button pushed */
    .button.red.pushed,
    .button.red.pushed:active {
        background: #dc3c43;
        color: #eee;
        text-shadow:0 -1px 0 #dc3c43;
        -webkit-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, .1) inset;
                box-shadow: 0 4px 2px 0px rgba(0, 0, 0, .1) inset;
        }

/* Type: Button red */
.button.blue {
    color: #fff;
    text-shadow:none;
    border: 1px solid #113184;
    background: #113184;
    -webkit-box-shadow: 0 8px 7px 0px rgba(255, 255, 255, .2) inset;
            box-shadow: 0 8px 7px 0px rgba(255, 255, 255, .2) inset;
    }
    .button.blue:active {
        -webkit-box-shadow: 0 -8px 7px 0px rgba(255, 255, 255, .2) inset;
            box-shadow: 0 -8px 7px 0px rgba(255, 255, 255, .2) inset;
        }
    /* State: red button pushed */
    .button.blue.pushed,
    .button.blue.pushed:active {
        background: #526084;
        color: #eee;
        text-shadow:0 -1px 0 #113184;
        -webkit-box-shadow: 0 4px 2px 0px rgba(0, 0, 0, .2) inset;
                box-shadow: 0 4px 2px 0px rgba(0, 0, 0, .2) inset;
        }

/* Type: Button small */
.button.small {
    padding:4px; 
}

/*
    Type: empty button with icon
*/
.button.button.empty {
    min-width: 8px;
    min-height: 12px;
    }

/*
    Type: Buttons group
*/
.buttons-group {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-size: 0;
    padding: 0;
    margin: 0;
    }
    .buttons-group .button{
        -webkit-border-radius: 0px;
        border-radius: 0px;
        margin: 0;
        }
       .buttons-group .button:first-child {
            -webkit-border-top-left-radius: 3px;
            -webkit-border-bottom-left-radius: 3px;
            -moz-border-radius-topleft: 3px;
            -moz-border-radius-bottomleft: 3px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            }
        .buttons-group .button:last-child {
            -webkit-border-top-right-radius: 3px;
            -webkit-border-bottom-right-radius: 3px;
            -moz-border-radius-topright: 3px;
            -moz-border-radius-bottomright: 3px;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            }
/*
    Icons
*/
.icon {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin: -5px 5px -5px 0;
    width: 18px;
    height: 18px;
    }

    /* State: icon in empty button */
    .button.empty .icon {
        margin: -5px;
        }


    .icon-show-map {
        background: transparent url(../img/ico-show-map-new.png) right center no-repeat;
        height: 19px;
        width: 18px;
        background-size: 18px 19px;
        }



/*** 
    Right elements block
***/

.block-with-right-elem {
    position: relative;
    }
    .block-with-right-elem .right-elem {
        position: absolute;
        top: 50%;
        right: 0;
        }
        .block-with-right-elem .right-elem.button {
            margin-top: -14px;
            }

/*** 
    icon styles
***/
    .icon-left {
        background-position: center 10px;
        }
    .icon-center {
        background-position: center center;
        }
    .icon-right {
        background-position: 10px center;
        }
    .icon-phone {
        background-image: url(../img/icon-phone.png);
        }
    .icon-phone-span {
        background: transparent url(../img/icon-phone.png) 0 2px no-repeat;
        background-size: 7px 12px;
        margin: -5px -5px -5px 0;
        }
/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Prevent callout */

.nocallout {
    -webkit-touch-callout: none;
}

.pressed {
    background-color: rgba(0, 0, 0, 0.7);
}

/* A hack for HTML5 contenteditable attribute on mobile */

textarea[contenteditable] {
    -webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if
   they have been set as display: none */

.gifhidden {
    position: absolute;
    left: -100%;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    background-repeat: no-repeat;
    border: 0;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
}

.ir br {
    display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 800px) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for viewports that meet the condition */
}
